.mapContainer {
  position:relative;
  width:100%;
}

.map {
  position:relative;
  display:block;
  width:100%;
  height:500px;
}

.mapTitle {
  height:100px;
  border-bottom:1px solid #17B9D1;
}

.form {
  position:relative;
  display:block;
  width:100%;
}

.formTitle{
  display:block;
  font-family:font1;
  font-size:16px;
  color:#ccc;
  margin:10px;
}

.search {
  width:calc(100% - 30px);
  margin:10px;
  padding:15px 5px;
  color:#fff;
  background:#3D71D1;
  border:none;
}

.formButton {
  font-family:font1;
  font-size:16px;
  width:calc(100% - 20px);
  margin:10px;
  background:#191E80;
  padding:10px 0px;
  border:none;
  outline:none;
  cursor:pointer;
  color:#fff;
}

.dateSelect {
  display:block;
  width:calc(100% - 20px);
  text-align:center;
  font-size:18px;
  margin:10px;
  background:#3D71D1;
  color:#fff;
  border:none;
  padding:10px;
}

.column-left {
  float: left;
  width: 33.33%;
  cursor: pointer;
}

.backImg {
  position:relative;
  left:10px;
  display:block;
  padding:43px 0px;
}

.column-right {
  position:relative;
  font-family:font1;
  font-size:14px;
  font-weight:bold;
  color:#18BFD6;
  float: right;
  width: 33.33%;
  text-align:right;
  line-height:100px;
  cursor: pointer;
}

.column-center {
  display: inline-block;
  font-family:font1;
  font-size:28px;
  font-weight:bold;
  color:#18BFD6;
  width: 33.33%;
  text-align:center;
  line-height:100px;

  cursor: pointer;
}

.column-center img {
  margin:15px 0px;
  width:80px;
  height:80px;
}

.route {
  font-family:font1;
  font-size:16px;
  font-weight:bold;
  color:#fff;
}
.matchs {
  margin-bottom:20px;
}
.information{
  position:relative;
  display:block;
}
.matchs .information  .avatar {
  position:relative;
  width:150px;
  height:150px;
  float:left;
  margin-right:10px;
  border-right:1px solid #204489;
}
.informationSpan {
  padding:30px 0px;
}
.routeButton {
  position:relative;
  width:100%;
  background:#17B9D1;
  font-family: font1;
  font-size: 18px;
  color:#fff;
  border:none;
  outline:none;
  padding:10px 10px;
  top:-25px;
  cursor:pointer;
}

.span1 {
  display:block;
  background:#3D71D1;
  padding:13px;
  margin:-30px 0px 0px 0px;
}

.span2 {
  display:block;
  background:#3D71D1;
  padding:14px;
  margin:1px 0px 0px 0px;
}
.span3 {
  display:block;
  background:#3D71D1;
  padding:14px;
  margin:1px 0px 0px 0px;
}